.about-me-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 90%;
    margin-left: 5%;
    transition: opacity 3s ease;
}

.about-me-main {
  display: flex;
}


.about-me-text {
  margin-left: 40px;
}

.hobbiesList li {
  display: revert;
  list-style-type: disc;
  margin-top: 15px;
  margin-left: 15px;
}

.myImage {
  margin: auto;
}

img {
  border-radius: 12px;
}
