.about-me-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* padding: 40px; */
    margin: 0 auto;
    opacity: 0;
    top: 150vh; /* Position below the initial viewport */
    transition: opacity 3s ease;
}

.about-me-main {
    display: flex;
}

.hobbiesList li{
    display: revert;
    list-style-type: disc;
    margin-top: 15px;
    margin-left: 15px;
}

.myImage {
    background-color: gray;
    text-align: center;
    margin: auto;
}