.techTypeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.namings-container {
  background-color: #55348a;
  display: flex;
  flex-wrap: wrap;
}

.namingsBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.techblock {
  padding: 40px;
  width: 200px;
  height: 200px;
  background-color: #a28ecd;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  color: #55348a;
}

.techblock ul li {
  margin-top: 15px;
  margin-left: 15px;
  display: revert;
  list-style-type: disc;
}

.tech-image {
  margin: auto;
}

.tech-image img {
  border-radius: 0;
}
