.technologies-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  justify-content: center;
}

.namingsBlock {
  width: 100%;
  display: flex;
  justify-content: center;
}

.techblock {
  margin: 40px;
  padding: 40px;
  background-color: #A28ECD;
  text-align: left;
  border-radius: 12px;
  color: #55348A;
}

.techblock ul li {
  margin-top: 15px;
  margin-left: 15px;
  display: revert;
  list-style-type: disc;
}
