.technologiesBlock {
  margin: 40px;
}

.techTypeBlock {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px 40px;
  padding: 40px;
  background-color: #fcf7f2;
}

.titleTechs h3 {
  margin-top: 0px;
}

.namingsBlock {
  width: 100%;
  display: flex;
  justify-content: center;
}

.techblock {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px;
  padding: 40px;
  background-color: #f0e4d7;
}

.techblock ul li {
  margin-top: 15px;
  margin-left: 15px;
  display: revert;
  list-style-type: disc;
}
